body {
    background-color: #000 !important;
    overflow-x: hidden;
}

/* header.php */
nav.nav-background {
    background-color: #333333;
}

/* home.php */

h2.title-team {
    font-size: 50px;
    text-decoration: underline red;
    text-underline-offset: 0.5rem;
}

.marvel-card {
    border: 1px solid #f1f1f1;
    overflow: hidden;
    border-radius: .2rem;
}

.marvel-card img {
    width: 100%;
    height: 100%;
}

.marvel-picture {
    position: absolute;
}

.marvel-card a {
    position: absolute;
    font-size: 1.1rem;
    margin-bottom: 0;
    bottom: 5px;
    right: 25px;
    z-index: 999;
    color: #fff;
    text-decoration: none;
}

.marvel-card a:hover {
    color: #fff;
    text-decoration: underline;
}

.marvel-card .trapeze {
    width: 100%;
    height: 200px;
    clip-path: polygon(0 83%, 100% 73%, 100% 100%, 0% 100%);
    background-color: red;
    position: absolute;
    bottom: 0;
}

/* show.php */

.marvel-identity {
    background-color: red;
    height: 70px;
}

.marvel-identity p {
    font-size: 30px;
    color: white;
}

/* edit.php */

form[name="marveltype"] {
    color: #fff;
}

